<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" class="current" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > Forms Stuff / Elements</a>
         <ul>
            <li><a href="forms-stuff.html">General Form Stuff</a></li>
            <li><a href="forms-plugins-elements.html"> Forms Plugins / Elements</a></li>
            <li><a href="buttons.html" class="active"> Buttons and Icons Styling </a></li>
            <li><a href="forms-validation.html"> Forms With Validation </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Forms Elements</a>
         <ul>
            <li><a href="forms-grid.html"> Forms Field Grid</a></li>
            <li><a href="typography.html"> Typography Styling</a></li>
            <li><a href="css3-family-tree.html">CSS3 Family Tree</a></li>
            <li><a href="keyboard.html"> Full Keyboard</a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Some Fonts Icons (150+)</a>
         <ul>
            <li><a href="icons.html">Font Icons (150+)</a></li>
            <li><a href="#">First Demo Menu</a></li>
            <li><a href="#">Second Demo Menu</a></li>
            <li><a href="#">Third Demo Menu</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>CSS Buttons With Icons</h1>
     <h6>Styled buttons with icons that can be customized according to your requirement.</h6>  
  </div>
    
  <div class="shortable-content">
  
     
      <div class="box _100">
        <div class="box-header">
        Colored Buttons
        <i class="icon-remove-sign close" title="Close"></i>
        <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
        </div>
        
        <div class="box-content padd-10">
        
          <a href="#" class="button"> Blue Button </a>
            &nbsp; 
          <a href="#" class="red"> Red Button </a>
            &nbsp; 
          <a href="#" class="green"> Green Button </a>
            &nbsp; 
          <a href="#" class="grey"> Gray Button </a>
        
        </div>
        
      </div>
     
     
    
      <div class="box _100">
        <div class="box-header">
        Buttons With Icons Over 150+
        <i class="icon-remove-sign close" title="Close"></i>
        <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
        </div>
        
        <div class="box-content padd-10">
           
           
            <a href="#" class="grey display_but"><i class="icon-glass"></i> Glass </a> 
            <a href="#" class="grey display_but"><i class="icon-music"></i> Music </a>
            <a href="#" class="grey display_but"><i class="icon-search"></i> Search </a>
            <a href="#" class="grey display_but"><i class="icon-envelope"></i> Envelope </a>
            <a href="#" class="grey display_but"><i class="icon-heart"></i> Heart </a>
            <a href="#" class="grey display_but"><i class="icon-star"></i> Star </a>
            <a href="#" class="grey display_but"><i class="icon-star-empty"></i> Star Empty </a>
            <a href="#" class="grey display_but"><i class="icon-user"></i> User </a>
            <a href="#" class="grey display_but"><i class="icon-film"></i> Film </a>
            <a href="#" class="grey display_but"><i class="icon-th-large"></i> Box Large </a>
            <a href="#" class="grey display_but"><i class="icon-th"></i> Box Small </a>
            <a href="#" class="grey display_but"><i class="icon-th-list"></i> Box List </a>
            
            <a href="#" class="grey display_but"><i class="icon-ok"></i> Ok </a>
            <a href="#" class="grey display_but"><i class="icon-remove"></i> Remove </a>
            <a href="#" class="grey display_but"><i class="icon-zoom-in"></i> Zoom in </a>
            <a href="#" class="grey display_but"><i class="icon-zoom-out"></i> Zoom out </a>
            <a href="#" class="grey display_but"><i class="icon-off"></i> Off </a>
            <a href="#" class="grey display_but"><i class="icon-signal"></i> Signal </a>
            <a href="#" class="grey display_but"><i class="icon-cog"></i> Cogfiration </a>
            <a href="#" class="grey display_but"><i class="icon-trash"></i> Trash </a>
            <a href="#" class="grey display_but"><i class="icon-home"></i> Home </a>
            <a href="#" class="grey display_but"><i class="icon-file"></i> File </a>
            <a href="#" class="grey display_but"><i class="icon-time"></i> Time </a>
            <a href="#" class="grey display_but"><i class="icon-road"></i> Road </a>
            
            <a href="#" class="grey display_but"><i class="icon-download-alt"></i> Download Alt </a>
            <a href="#" class="grey display_but"><i class="icon-download"></i> Download </a>
            <a href="#" class="grey display_but"><i class="icon-upload"></i> Upload </a>
            <a href="#" class="grey display_but"><i class="icon-inbox"></i> Inbox </a>
            <a href="#" class="grey display_but"><i class="icon-play-circle"></i> Play Circle </a>
            <a href="#" class="grey display_but"><i class="icon-repeat"></i> Repeat </a>
            <a href="#" class="grey display_but"><i class="icon-refresh"></i> Refresh </a>
            <a href="#" class="grey display_but"><i class="icon-list-alt"></i> List Alt </a>
            <a href="#" class="grey display_but"><i class="icon-lock"></i> Lock </a>
            <a href="#" class="grey display_but"><i class="icon-flag"></i> Flag </a>
            <a href="#" class="grey display_but"><i class="icon-headphones"></i> Headphones </a>
            <a href="#" class="grey display_but"><i class="icon-volume-off"></i> Volume Off </a>
            
            <a href="#" class="grey display_but"><i class="icon-volume-down"></i> Volume Down </a>
            <a href="#" class="grey display_but"><i class="icon-volume-up"></i> Volume Up </a>
            <a href="#" class="grey display_but"><i class="icon-qrcode"></i> Qrcode </a>
            <a href="#" class="grey display_but"><i class="icon-barcode"></i> Barcode </a>
            <a href="#" class="grey display_but"><i class="icon-tag"></i> Tag </a>
            <a href="#" class="grey display_but"><i class="icon-tags"></i> Tags </a>
            <a href="#" class="grey display_but"><i class="icon-book"></i> Book </a>
            <a href="#" class="grey display_but"><i class="icon-bookmark"></i> Bookmark </a>
            <a href="#" class="grey display_but"><i class="icon-print"></i> Prints </a>
            <a href="#" class="grey display_but"><i class="icon-camera"></i> Camera </a>
            <a href="#" class="grey display_but"><i class="icon-font"></i> Font </a>
            <a href="#" class="grey display_but"><i class="icon-bold"></i> Bold </a>
            
            <a href="#" class="grey display_but"><i class="icon-italic"></i> Italic </a>
            <a href="#" class="grey display_but"><i class="icon-text-height"></i> Text Height </a>
            <a href="#" class="grey display_but"><i class="icon-text-width"></i> Text Width </a>
            <a href="#" class="grey display_but"><i class="icon-align-left"></i> Align Left </a>
            <a href="#" class="grey display_but"><i class="icon-align-center"></i> Align Center </a>
            <a href="#" class="grey display_but"><i class="icon-align-right"></i> Align Right </a>
            <a href="#" class="grey display_but"><i class="icon-align-justify"></i> Align Justify </a>
            <a href="#" class="grey display_but"><i class="icon-list"></i> List </a>
            <a href="#" class="grey display_but"><i class="icon-indent-left"></i> Indent Left </a>
            <a href="#" class="grey display_but"><i class="icon-indent-right"></i> Indent Right </a>
            <a href="#" class="grey display_but"><i class="icon-facetime-video"></i> Facetime Video </a>
            <a href="#" class="grey display_but"><i class="icon-picture"></i> Picture </a>
            
            <a href="#" class="grey display_but"><i class="icon-pencil"></i> Pencil </a>
            <a href="#" class="grey display_but"><i class="icon-map-marker"></i> Map Marker </a>
            <a href="#" class="grey display_but"><i class="icon-adjust"></i> Icon Glass </a>
            <a href="#" class="grey display_but"><i class="icon-tint"></i> Tint </a>
            <a href="#" class="grey display_but"><i class="icon-edit"></i> Edit </a>
            <a href="#" class="grey display_but"><i class="icon-share"></i> Share </a>
            <a href="#" class="grey display_but"><i class="icon-check"></i> Check </a>
            <a href="#" class="grey display_but"><i class="icon-move"></i> Move </a>
            <a href="#" class="grey display_but"><i class="icon-step-backward"></i> Step Backward </a>
            <a href="#" class="grey display_but"><i class="icon-fast-backward"></i> Fast Backward </a>
            <a href="#" class="grey display_but"><i class="icon-backward"></i> Backward </a>
            <a href="#" class="grey display_but"><i class="icon-play"></i> Play </a>
            
            <a href="#" class="grey display_but"><i class="icon-pause"></i> Pause </a>
            <a href="#" class="grey display_but"><i class="icon-stop"></i> Stop </a>
            <a href="#" class="grey display_but"><i class="icon-forward"></i> Forward </a>
            <a href="#" class="grey display_but"><i class="icon-fast-forward"></i> Fast Forward </a>
            <a href="#" class="grey display_but"><i class="icon-step-forward"></i> Step Forward</a>
            <a href="#" class="grey display_but"><i class="icon-eject"></i> Eject </a>
            <a href="#" class="grey display_but"><i class="icon-chevron-left"></i> Chevron Left </a>
            <a href="#" class="grey display_but"><i class="icon-chevron-right"></i> Chevron Right </a>
            <a href="#" class="grey display_but"><i class="icon-plus-sign"></i> Pluse Sign </a>
            <a href="#" class="grey display_but"><i class="icon-minus-sign"></i> Minus Sign </a>
            <a href="#" class="grey display_but"><i class="icon-remove-sign"></i> Remove Sign </a>
            <a href="#" class="grey display_but"><i class="icon-ok-sign"></i> Ok Sign </a>
            
            <a href="#" class="grey display_but"><i class="icon-question-sign"></i> Question Sign </a>
            <a href="#" class="grey display_but"><i class="icon-info-sign"></i> Info Sign </a>
            <a href="#" class="grey display_but"><i class="icon-screenshot"></i> Screenshot </a>
            <a href="#" class="grey display_but"><i class="icon-remove-circle"></i> Remove Circle </a>
            <a href="#" class="grey display_but"><i class="icon-ok-circle"></i> Ok Circle </a>
            <a href="#" class="grey display_but"><i class="icon-ban-circle"></i> Ban Circle </a>
            <a href="#" class="grey display_but"><i class="icon-arrow-left"></i> Arrow Left </a>
            <a href="#" class="grey display_but"><i class="icon-arrow-right"></i> Arrow Right </a>
            <a href="#" class="grey display_but"><i class="icon-arrow-up"></i> Arrow Up </a>
            <a href="#" class="grey display_but"><i class="icon-arrow-down"></i> Arrow Down </a>
            <a href="#" class="grey display_but"><i class="icon-share-alt"></i> Share Alt </a>
            <a href="#" class="grey display_but"><i class="icon-resize-full"></i> Resize Full </a>
            
            <a href="#" class="grey display_but"><i class="icon-resize-small"></i> Resize Small </a>
            <a href="#" class="grey display_but"><i class="icon-plus"></i> Plus </a>
            <a href="#" class="grey display_but"><i class="icon-minus"></i> Minus </a>
            <a href="#" class="grey display_but"><i class="icon-asterisk"></i> Asterisk </a>
            <a href="#" class="grey display_but"><i class="icon-exclamation-sign"></i> Exclamation Sign </a>
            <a href="#" class="grey display_but"><i class="icon-gift"></i> Gift </a>
            <a href="#" class="grey display_but"><i class="icon-leaf"></i> Leaf </a>
            <a href="#" class="grey display_but"><i class="icon-fire"></i> Fire </a>
            <a href="#" class="grey display_but"><i class="icon-eye-open"></i> Eye Open </a>
            <a href="#" class="grey display_but"><i class="icon-eye-close"></i> Eye Close </a>
            <a href="#" class="grey display_but"><i class="icon-warning-sign"></i> Warning Sign </a>
            <a href="#" class="grey display_but"><i class="icon-plane"></i> Plane </a>
            
            <a href="#" class="grey display_but"><i class="icon-calendar"></i> Calendar </a>
            <a href="#" class="grey display_but"><i class="icon-random"></i> Random </a>
            <a href="#" class="grey display_but"><i class="icon-comment"></i> Comment </a>
            <a href="#" class="grey display_but"><i class="icon-magnet"></i> Magnet </a>
            <a href="#" class="grey display_but"><i class="icon-chevron-up"></i> Chevron Up </a>
            <a href="#" class="grey display_but"><i class="icon-chevron-down"></i> Chevron Down </a>
            <a href="#" class="grey display_but"><i class="icon-retweet"></i> Retweet </a>
            <a href="#" class="grey display_but"><i class="icon-shopping-cart"></i> Shopping Cart </a>
            <a href="#" class="grey display_but"><i class="icon-folder-close"></i> Folder Close </a>
            <a href="#" class="grey display_but"><i class="icon-folder-open"></i> folder open </a>
            <a href="#" class="grey display_but"><i class="icon-resize-vertical"></i>  resize vertical </a>
            <a href="#" class="grey display_but"><i class="icon-resize-horizontal"></i> resize horizontal </a>
            
            <a href="#" class="grey display_but"><i class="icon-bar-chart"></i> bar chart </a>
            <a href="#" class="grey display_but"><i class="icon-twitter-sign"></i> twitter sign </a>
            <a href="#" class="grey display_but"><i class="icon-facebook-sign"></i> facebook sign </a>
            <a href="#" class="grey display_but"><i class="icon-camera-retro"></i> camera retro </a>
            <a href="#" class="grey display_but"><i class="icon-key"></i> key </a>
            <a href="#" class="grey display_but"><i class="icon-cogs"></i> cogs </a>
            <a href="#" class="grey display_but"><i class="icon-comments"></i> comments </a>
            <a href="#" class="grey display_but"><i class="icon-thumbs-up"></i> thumbs up </a>
            <a href="#" class="grey display_but"><i class="icon-thumbs-down"></i> thumbs down </a>
            <a href="#" class="grey display_but"><i class="icon-star-half"></i> star half </a>
            <a href="#" class="grey display_but"><i class="icon-heart-empty"></i> heart empty </a>
            <a href="#" class="grey display_but"><i class="icon-signout"></i> signout </a>
            
            <a href="#" class="grey display_but"><i class="icon-linkedin-sign"></i> linkedin sign </a>
            <a href="#" class="grey display_but"><i class="icon-pushpin"></i> pushpin </a>
            <a href="#" class="grey display_but"><i class="icon-external-link"></i> external link </a>
            <a href="#" class="grey display_but"><i class="icon-signin"></i> signin </a>
            <a href="#" class="grey display_but"><i class="icon-trophy"></i> trophy </a>
            <a href="#" class="grey display_but"><i class="icon-cogs"></i> cogs </a>
            <a href="#" class="grey display_but"><i class="icon-github-sign"></i> github sign </a>
            <a href="#" class="grey display_but"><i class="icon-upload-alt"></i> upload alt </a>
            <a href="#" class="grey display_but"><i class="icon-lemon"></i> Icon lemon </a>
           
           
        </div>
      </div><!--HTML5 VIDEO TAG-->
      



  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
</body>
</html>
