<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>


</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" class="current" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > Forms Stuff / Elements</a>
         <ul>
            <li><a href="forms-stuff.html">General Form Stuff</a></li>
            <li><a href="forms-plugins-elements.html" class="active"> Forms Plugins / Elements</a></li>
            <li><a href="buttons.html"> Buttons and Icons Styling </a></li>
            <li><a href="forms-validation.html"> Forms With Validation </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Forms Elements</a>
         <ul>
            <li><a href="forms-grid.html"> Forms Field Grid</a></li>
            <li><a href="typography.html"> Typography Styling</a></li>
            <li><a href="css3-family-tree.html">CSS3 Family Tree</a></li>
            <li><a href="keyboard.html"> Full Keyboard</a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Some Fonts Icons (150+)</a>
         <ul>
            <li><a href="icons.html">Font Icons (150+)</a></li>
            <li><a href="#">First Demo Menu</a></li>
            <li><a href="#">Second Demo Menu</a></li>
            <li><a href="#">Third Demo Menu</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>Forms Plugins and Elements</h1>
     <h6>Some plugins and elements that can be used in forms.</h6>  
  </div>
    
  <div class="shortable-content">
  
  
  
  
  
  <div class="box _50">
    <div class="box-header">
      Masked Input Fields
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
    <div class="box-content">
      
      <div class="form-row">
       <label for="maskDate"><strong>Date<span>99/99/9999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskDate" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskPhone"><strong>Phone<span>(999) 999-9999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskPhone" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskPhoneExt"><strong>Phone Ext<span>(999) 999-9999 x99999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskPhoneExt" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskIntPhone"><strong>Int Phone<span>+33 999 999 999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskIntPhone" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskTin"><strong>Tin<span>99-9999999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskTin" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskSsn"><strong>SSN<span>999-99-9999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskSsn" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskProd"><strong>Product Key<span>a*-999-a999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskProd" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskEye"><strong>Eye Script<span>~9.99 ~9.99 999</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskEye" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskPo"><strong>Purchase Order<span>PO: aaa-999-***</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskPo" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maskPct"><strong>Percent<span>99%</span></strong></label>
       <div class="form-right-col"><input type="text" id="maskPct" class="_100F" /></div>
      </div>

      
    </div>
  </div>  <!--MASKED FIELDS ENDS HERE-->
  
  
  
  
  <div class="box _50">
    <div class="box-header">
      Forms Elements / Plugins
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
      
    <div class="box-content">
    
      <div class="form-row">
        <label for="select"><strong>Simple Select</strong></label>
        <div class="form-right-col">
        <select id="select" class="_100F">
           <option value="opt1">Usual select box with dropdown styling</option>
           <option value="opt2">Option 2</option>
           <option value="opt3">Option 3</option>
           <option value="opt4">Option 4</option>
           <option value="opt5">Option 5</option>
           <option value="opt6">Option 6</option>
           <option value="opt7">Option 7</option>
           <option value="opt8">Option 8</option>
        </select>
        </div>
      </div>
      
      <div class="form-row">
        <label><strong>Color Picker</strong></label>
        <div class="form-right-col">
        <input type="text" class="color-picker" autocomplete="on" maxlength="10" />
        </div>
      </div>
      
      <div class="form-row">
        <label><strong>Date Picker</strong></label>
        <div class="form-right-col">
        <input id="datepicker" class="_100F" type="text">
        </div>
      </div>
      
      <div class="form-row">
        <label><strong>Time Picker</strong></label>
        <div class="form-right-col">
        <input type="text"  id="basic_example_1" name="basic_example_1" class="hasDatepicker _100F">
        </div>
      </div>
    
    </div>
    
  </div>
  
  
  
  
  <div class="box _50">
    <div class="box-header">
      CSS3 Stop Watch
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
      
    <div class="box-content padd-20">
    
      <div class="stopwatch">
        <!-- time to add the controls -->
        <input id="start" name="controls" type="radio" />
        <input id="stop" name="controls" type="radio" />
        <input id="reset" name="controls" type="radio" />
        <div class="timer">
            <div class="cell">
                <div class="numbers tenhour moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            <div class="cell">
                <div class="numbers hour moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            <div class="cell divider"><div class="numbers">:</div></div>
            <div class="cell">
                <div class="numbers tenminute movesix">0 1 2 3 4 5 6</div>
            </div>
            <div class="cell">
                <div class="numbers minute moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            <div class="cell divider"><div class="numbers">:</div></div>
            <div class="cell">
                <div class="numbers tensecond movesix">0 1 2 3 4 5 6</div>
            </div>
            <div class="cell">
                <div class="numbers second moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            <div class="cell divider"><div class="numbers">:</div></div>
            <div class="cell">
                <div class="numbers milisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            <div class="cell">
                <div class="numbers tenmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            <div class="cell">
                <div class="numbers hundredmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
            </div>
            </div>
            <!-- Lables for the controls -->
            <div id="timer_controls">
                <label for="start">Start</label>
                <label for="stop">Stop</label>
                <label for="reset">Reset</label>
            </div>
        </div>
    
    </div>
  </div>
  
  
  
  
  <div class="box _100">
    <div class="box-header">
      Autotabs Input fields
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
      
    <div class="box-content">
      
      <div class="form-row  onlyNums">
       <label for="onlynum"><strong>Only Numbers</strong></label>
       <input type="text" maxlength="6" id="onlynum" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" />
      </div>
      
      <div class="form-row  onlyText">
       <label for="onlyText"><strong>Only Text</strong></label>
       <input type="text" maxlength="6" id="onlyText" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" />
      </div>
      
      <div class="form-row  onlyAlpha">
       <label for="onlyAlpha"><strong>Only Alpha</strong></label>
       <input type="text" maxlength="6" id="onlyAlpha" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" />
      </div>
      
      <div class="form-row  onlyRegex">
       <label for="onlyRegex"><strong>Regular Expressions</strong></label>
       <input type="text" maxlength="6" id="onlyRegex" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" />
      </div>
      
      <div class="form-row  allUpper">
       <label for="allUpper"><strong>Uppercase Converting</strong></label>
       <input type="text" maxlength="6" id="allUpper" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" /> - 
       <input type="text" maxlength="6" class="_10" />
      </div>
      
    </div>
    
  </div><!--AUTOTABS FIELDS-->
  
  
  <div class="box _100">
    <div class="box-header">
      Wising Editor
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
      
    <div class="box-content">
      <textarea class="wysiwyg" id="textarea" name="textfield" cols="79" rows="15">Type Here....</textarea>
    </div>
    
  </div>
  
  

  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
  
  
</body>
</html>
