<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" class="current" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > Forms Stuff / Elements</a>
         <ul>
            <li><a href="forms-stuff.html" class="active">General Form Stuff</a></li>
            <li><a href="forms-plugins-elements.html"> Forms Plugins / Elements</a></li>
            <li><a href="buttons.html"> Buttons and Icons Styling </a></li>
            <li><a href="forms-validation.html"> Forms With Validation </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Forms Elements</a>
         <ul>
            <li><a href="forms-grid.html"> Forms Field Grid</a></li>
            <li><a href="typography.html"> Typography Styling</a></li>
            <li><a href="css3-family-tree.html">CSS3 Family Tree</a></li>
            <li><a href="keyboard.html"> Full Keyboard</a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Some Fonts Icons (150+)</a>
         <ul>
            <li><a href="icons.html">Font Icons (150+)</a></li>
            <li><a href="#">First Demo Menu</a></li>
            <li><a href="#">Second Demo Menu</a></li>
            <li><a href="#">Third Demo Menu</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>General Forms Stuff </h1>
     <h6>Cool forms elements that can be used in your projects...</h6>  
  </div>
    
  <div class="shortable-content">
  
  
  <div class="box _50">
    <div class="box-header">
      General Forms Elements
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
    <div class="box-content">
      
      <div class="form-row">
       <label for="normal-field"><strong>Normal Field</strong></label>
       <div class="form-right-col"><input type="text" id="normal-field" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="password"><strong>Password Field</strong></label>
       <div class="form-right-col"><input type="password" id="password" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="placeholder"><strong>With Placeholder</strong></label>
       <div class="form-right-col"><input type="text" placeholder="Hey, This is a placeholder" id="placeholder" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="maxchar"><strong>Max 10 Characters</strong></label>
       <div class="form-right-col"><input type="text" id="maxchar" maxlength="10" placeholder="10 Characters only" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="disabled"><strong>Disabled Field</strong></label>
       <div class="form-right-col"><input type="text" id="disabled" disabled="disabled" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="predefinedvalue"><strong>Predefined value</strong></label>
       <div class="form-right-col"><input type="text" id="predefinedvalue" value="Predefined value" class="_100F" /></div>
      </div>
      
      <div class="form-row">
       <label for="textarea"><strong>Textarea</strong></label>
       <div class="form-right-col"><textarea class="_100F" id="textarea"></textarea></div>
      </div>
      
      <div class="form-row">
       <label for="autotextarea"><strong>Textarea<span>With Autogrow</span></strong></label>
       <div class="form-right-col"><textarea class="_100F auto" rows="3" id="autotextarea"></textarea></div>
      </div>
      
      <div class="form-row">
       <input type="submit" class="grey" value="Cancel" />
       <input type="submit" value="Submit" class="float_r" />
      </div>
      
    </div>
  </div>  <!--GENRAL FORMS ENDS HERE-->
  
  
  
  
  
  
  
  <div class="box _50">
    <div class="box-header">
      Select, Checkboxes and much more
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
      
    <div class="box-content">
    
      <div class="form-row">
        <label for="select"><strong>Simple Select</strong></label>
        <div class="form-right-col">
        <select id="select" class="_100F">
           <option value="opt1">Usual select box with dropdown styling</option>
           <option value="opt2">Option 2</option>
           <option value="opt3">Option 3</option>
           <option value="opt4">Option 4</option>
           <option value="opt5">Option 5</option>
           <option value="opt6">Option 6</option>
           <option value="opt7">Option 7</option>
           <option value="opt8">Option 8</option>
        </select>
        </div>
      </div>
      
      <div class="form-row">
        <label><strong>Styled Checkbox</strong></label>
        <div class="form-right-col">
        <input type="checkbox" class="styled" checked="checked" /> &nbsp; 
        <input type="checkbox" class="styled" checked="checked" disabled="disabled" /> &nbsp; 
        <input type="checkbox" class="styled" checked="checked" /> &nbsp; 
        <input type="checkbox" class="styled" checked="checked" disabled="disabled" /> &nbsp; 
        </div>
      </div>
      
      
      <div class="form-row">
        <label><strong>Styled Radio button</strong></label>
        <div class="form-right-col">
        <input type="radio" class="styled" name="a" /> &nbsp; 
        <input type="radio" class="styled" name="a" checked="checked" /> &nbsp; 
        <input type="radio" name="a" class="styled" /> &nbsp; 
        <input type="radio" class="styled" name="b" checked="checked" /> &nbsp; 
        </div>
      </div>
      
      
      <div class="form-row">
        <label><strong>Setting Switch ON</strong></label>
        <div class="form-right-col">
        
        <label>
          <input type="checkbox"class="settings-switch-checkbox" checked>
          <span class="settings-switch"><span class="settings-switch-handle"></span></span>
        </label>
        
         &nbsp; 
        
        <label>
          <input type="checkbox"class="settings-switch-checkbox">
          <span class="settings-switch"><span class="settings-switch-handle"></span></span>
        </label>
        
          &nbsp; 
        
        <label>
          <input type="checkbox"class="settings-switch-checkbox" checked>
          <span class="settings-switch"><span class="settings-switch-handle"></span></span>
        </label>
        
        
         &nbsp; 
        
        <label>
          <input type="checkbox"class="settings-switch-checkbox">
          <span class="settings-switch"><span class="settings-switch-handle"></span></span>
        </label>
        
        </div>
      </div>
      
      
      
      
      
      
      <div class="form-row">
        <label><strong>Setting Switch</strong></label>
        <div class="form-right-col">
        
        <label>
          <input type="checkbox" id="three" checked name="three" value="1" class="switch-input settings-switch-checkbox">
            <div class="switch">
              <span class="switch-label">On</span>
              <span class="switch-label">Off</span>
              <span class="switch-handle"></span>
            </div>
        </label>
        
         &nbsp; 
        
        <label>
          <input type="checkbox" id="three" name="three" value="1" class="switch-input settings-switch-checkbox">
            <div class="switch">
              <span class="switch-label">On</span>
              <span class="switch-label">Off</span>
              <span class="switch-handle"></span>
            </div>
        </label>
        
         &nbsp; 
        
        <label>
          <input type="checkbox" id="three" checked name="three" value="1" class="switch-input settings-switch-checkbox">
            <div class="switch">
              <span class="switch-label">On</span>
              <span class="switch-label">Off</span>
              <span class="switch-handle"></span>
            </div>
        </label>
        
         &nbsp; 
        
        <label>
          <input type="checkbox" id="three" name="three" value="1" class="switch-input settings-switch-checkbox">
            <div class="switch">
              <span class="switch-label">On</span>
              <span class="switch-label">Off</span>
              <span class="switch-handle"></span>
            </div>
        </label>
        
        </div>
      </div>
      
      
      
      <div class="form-row">
        <label><strong>Static Calendar</strong></label>
        <div class="form-right-col">
        
        
           <div class="cal">
              <table class="cal-table">
                <caption class="cal-caption">
                  <a href="#" class="prev">&laquo;</a>
                  <a href="#" class="next">&raquo;</a>
                  May 2012
                </caption>
                <tbody class="cal-body">
                  <tr>
                    <td class="cal-off"><a href="#">30</a></td>
                    <td><a href="#">1</a></td>
                    <td><a href="#">2</a></td>
                    <td class="cal-today"><a href="#">3</a></td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">6</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">7</a></td>
                    <td class="cal-selected"><a href="#">8</a></td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">10</a></td>
                    <td><a href="#">11</a></td>
                    <td class="cal-check"><a href="#">12</a></td>
                    <td><a href="#">13</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">14</a></td>
                    <td><a href="#">15</a></td>
                    <td><a href="#">16</a></td>
                    <td class="cal-check"><a href="#">17</a></td>
                    <td><a href="#">18</a></td>
                    <td><a href="#">19</a></td>
                    <td><a href="#">20</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">21</a></td>
                    <td><a href="#">22</a></td>
                    <td><a href="#">23</a></td>
                    <td><a href="#">24</a></td>
                    <td><a href="#">25</a></td>
                    <td><a href="#">26</a></td>
                    <td><a href="#">27</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">28</a></td>
                    <td><a href="#">29</a></td>
                    <td><a href="#">30</a></td>
                    <td><a href="#">31</a></td>
                    <td class="cal-off"><a href="#">1</a></td>
                    <td class="cal-off"><a href="#">2</a></td>
                    <td class="cal-off"><a href="#">3</a></td>
                  </tr>
                </tbody>
              </table>
          </div>
          
        
        </div>
      </div>
      
        
    
    </div>
    
  </div> <!--FORMS ELEMENTS ENDS HERE-->
  

  
  
  
  
  

  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
  
  
</body>
</html>
