<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" class="current" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > Forms Stuff / Elements</a>
         <ul>
            <li><a href="forms-stuff.html">General Form Stuff</a></li>
            <li><a href="forms-plugins-elements.html"> Forms Plugins / Elements</a></li>
            <li><a href="buttons.html"> Buttons and Icons Styling </a></li>
            <li><a href="forms-validation.html"> Forms With Validation </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Forms Elements</a>
         <ul>
            <li><a href="forms-grid.html"> Forms Field Grid</a></li>
            <li><a href="typography.html"> Typography Styling</a></li>
            <li><a href="css3-family-tree.html">CSS3 Family Tree</a></li>
            <li><a href="keyboard.html"> Full Keyboard</a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Some Fonts Icons (150+)</a>
         <ul>
            <li><a href="icons.html" class="active">Font Icons (150+)</a></li>
            <li><a href="#">First Demo Menu</a></li>
            <li><a href="#">Second Demo Menu</a></li>
            <li><a href="#">Third Demo Menu</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>Fonts Icons</h1>
     <h6>These are not images, these are fonts icons.</h6>  
  </div>
    
  <div class="shortable-content">
  
     
      
     
     
    
      <div class="box _100">
        <div class="box-header">
        Fonts Icons over 150+
        <i class="icon-remove-sign close" title="Close"></i>
        <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
        </div>
        
        <div class="box-content padd-10">
           
           
            <i class="display_icon icon-glass"></i> 
            <i class="display_icon  icon-music"></i>
            <i class="display_icon  icon-search"></i>
            <i class="display_icon  icon-envelope"></i>
            <i class="display_icon  icon-heart"></i> 
            <i class="display_icon  icon-star"></i> 
            <i class="display_icon  icon-star-empty"></i>
            <i class="display_icon  icon-user"></i> 
            <i class="display_icon  icon-film"></i>
            <i class="display_icon  icon-th-large"></i>
            <i class="display_icon  icon-th"></i>
            <i class="display_icon  icon-th-list"></i>
            
            <i class="display_icon  icon-ok"></i>
            <i class="display_icon  icon-remove"></i>
            <i class="display_icon  icon-zoom-in"></i>
            <i class="display_icon  icon-zoom-out"></i>
            <i class="display_icon  icon-off"></i>
            <i class="display_icon  icon-signal"></i>
            <i class="display_icon  icon-cog"></i>
            <i class="display_icon  icon-trash"></i>
            <i class="display_icon  icon-home"></i>
            <i class="display_icon  icon-file"></i>
            <i class="display_icon  icon-time"></i>
            <i class="display_icon  icon-road"></i> 
            
            <i class="display_icon  icon-download-alt"></i>
            <i class="display_icon  icon-download"></i>
            <i class="display_icon  icon-upload"></i>
            <i class="display_icon  icon-inbox"></i>
            <i class="display_icon  icon-play-circle"></i>
            <i class="display_icon  icon-repeat"></i>
            <i class="display_icon  icon-refresh"></i>
            <i class="display_icon  icon-list-alt"></i>
            <i class="display_icon  icon-lock"></i>
            <i class="display_icon  icon-flag"></i>
            <i class="display_icon  icon-headphones"></i>
            <i class="display_icon  icon-volume-off"></i>
            
            <i class="display_icon  icon-volume-down"></i>
            <i class="display_icon  icon-volume-up"></i>
            <i class="display_icon  icon-qrcode"></i>
            <i class="display_icon  icon-barcode"></i>
            <i class="display_icon  icon-tag"></i>
            <i class="display_icon  icon-tags"></i>
            <i class="display_icon  icon-book"></i>
            <i class="display_icon  icon-bookmark"></i>
            <i class="display_icon  icon-print"></i>
            <i class="display_icon  icon-camera"></i>
            <i class="display_icon  icon-font"></i>
            <i class="display_icon  icon-bold"></i>
            
            <i class="display_icon  icon-italic"></i>
            <i class="display_icon  icon-text-height"></i>
            <i class="display_icon  icon-text-width"></i>
            <i class="display_icon  icon-align-left"></i>
            <i class="display_icon  icon-align-center"></i>
            <i class="display_icon  icon-align-right"></i>
            <i class="display_icon  icon-align-justify"></i>
            <i class="display_icon  icon-list"></i>
            <i class="display_icon  icon-indent-left"></i>
            <i class="display_icon  icon-indent-right"></i>
            <i class="display_icon  icon-facetime-video"></i>
            <i class="display_icon  icon-picture"></i>
            
            <i class="display_icon  icon-pencil"></i>
            <i class="display_icon  icon-map-marker"></i>
            <i class="display_icon  icon-adjust"></i>
            <i class="display_icon  icon-tint"></i>
            <i class="display_icon  icon-edit"></i>
            <i class="display_icon  icon-share"></i>
            <i class="display_icon  icon-check"></i>
            <i class="display_icon  icon-move"></i>
            <i class="display_icon  icon-step-backward"></i>
            <i class="display_icon  icon-fast-backward"></i>
            <i class="display_icon  icon-backward"></i>
            <i class="display_icon  icon-play"></i>
            
            <i class="display_icon  icon-pause"></i>
            <i class="display_icon  icon-stop"></i>
            <i class="display_icon  icon-forward"></i>
            <i class="display_icon  icon-fast-forward"></i>
            <i class="display_icon  icon-step-forward"></i>
            <i class="display_icon  icon-eject"></i>
            <i class="display_icon  icon-chevron-left"></i> 
            <i class="display_icon  icon-chevron-right"></i>
            <i class="display_icon  icon-plus-sign"></i>
            <i class="display_icon  icon-minus-sign"></i>
            <i class="display_icon  icon-remove-sign"></i>
            <i class="display_icon  icon-ok-sign"></i>
            
            <i class="display_icon  icon-question-sign"></i>
            <i class="display_icon  icon-info-sign"></i>
            <i class="display_icon  icon-screenshot"></i>
            <i class="display_icon  icon-remove-circle"></i>
            <i class="display_icon  icon-ok-circle"></i>
            <i class="display_icon  icon-ban-circle"></i>
            <i class="display_icon  icon-arrow-left"></i>
            <i class="display_icon  icon-arrow-right"></i>
            <i class="display_icon  icon-arrow-up"></i>
            <i class="display_icon  icon-arrow-down"></i>
            <i class="display_icon  icon-share-alt"></i> 
            <i class="display_icon  icon-resize-full"></i> 
            
            <i class="display_icon  icon-resize-small"></i> 
            <i class="display_icon  icon-plus"></i>
            <i class="display_icon  icon-minus"></i>
            <i class="display_icon  icon-asterisk"></i> 
            <i class="display_icon  icon-exclamation-sign"></i>
            <i class="display_icon  icon-gift"></i> 
            <i class="display_icon  icon-leaf"></i> 
            <i class="display_icon  icon-fire"></i> 
            <i class="display_icon  icon-eye-open"></i> 
            <i class="display_icon  icon-eye-close"></i> 
            <i class="display_icon  icon-warning-sign"></i> 
            <i class="display_icon  icon-plane"></i> 
            
            <i class="display_icon  icon-calendar"></i>  
            <i class="display_icon  icon-random"></i> 
            <i class="display_icon  icon-comment"></i> 
            <i class="display_icon  icon-magnet"></i>
            <i class="display_icon  icon-chevron-up"></i>
            <i class="display_icon  icon-chevron-down"></i>
            <i class="display_icon  icon-retweet"></i>
            <i class="display_icon  icon-shopping-cart"></i>
            <i class="display_icon  icon-folder-close"></i>
            <i class="display_icon  icon-folder-open"></i>
            <i class="display_icon  icon-resize-vertical"></i> 
            <i class="display_icon  icon-resize-horizontal"></i>
            
            <i class="display_icon  icon-bar-chart"></i>
            <i class="display_icon  icon-twitter-sign"></i>
            <i class="display_icon  icon-facebook-sign"></i>
            <i class="display_icon  icon-camera-retro"></i> 
            <i class="display_icon  icon-key"></i>
            <i class="display_icon  icon-cogs"></i> 
            <i class="display_icon  icon-comments"></i> 
            <i class="display_icon  icon-thumbs-up"></i> 
            <i class="display_icon  icon-thumbs-down"></i>
            <i class="display_icon  icon-star-half"></i>
            <i class="display_icon  icon-heart-empty"></i>
            <i class="display_icon  icon-signout"></i>
            
            <i class="display_icon  icon-linkedin-sign"></i>
            <i class="display_icon  icon-pushpin"></i>
            <i class="display_icon  icon-external-link"></i>
            <i class="display_icon  icon-signin"></i>
            <i class="display_icon  icon-trophy"></i>
            <i class="display_icon  icon-cogs"></i> 
            <i class="display_icon  icon-github-sign"></i>
            <i class="display_icon  icon-upload-alt"></i> 
            <i class="display_icon  icon-lemon"></i>
           
           
        </div>
      </div><!--HTML5 VIDEO TAG-->
      



  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
</body>
</html>
