<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" class="current" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > Dashboard / Home</a>
         <ul>
            <li><a href="dashboard.html">Overview of features</a></li>
            <li><a href="invoice.html" class="active" >Invoice Template</a></li>
            <li><a href="profile.html">Profile Page</a></li>
            <li><a href="about.html">About This Template</a></li>
            <li><a href="login.html">Login Design</a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > NOTIFICATIONS SAMPLE</a>
         <ul>
            <li><a href="popup-alert.html">Animated Popup Alerts</a></li>
            <li><a href="modal_box.html">Modal Light Box</a></li>
            <li><a href="sticky_notes.html">Purrr Sticky Notes</a></li>
            <li><a href="diolog-box.html">Dialog Boxes Example</a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" >SOME PLUGINS</a>
         <ul>
            <li><a href="file-manager.html">File Manager Sample</a></li>
            <li><a href="plupload.html">Pulp Loader 1.5.4 </a></li>
            <li><a href="gride.html">960 Content Grid</a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item" >NO SUBMENU HERE</a>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>Invoice Template</h1>
     <h6>Invoice Template - try to print this page!</h6>  
  </div>
    
  <div class="shortable-content">
  
     <div id="invoice" class="box _100">
        <div class="box-header">
        Invoice Template Sample
        <i class="icon-remove-sign close" title="Close"></i>
        <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
        </div>
        
        <div class="box-content padd-10">
  
            <ul class="client_details">
			  <li><strong class="name">John Doe Inc.</strong></li>
		      <li>1600 Pennsylvania Ave NW</li>
			  <li>Orlando, FL, Doe City</li>
			  <li>Washington DC</li>
			  <li>Phone: (888) 707-8822</li>
			  <li>Email: info@infynitix.com</li>	    
           </ul>
                    
           <ul class="invoice_details">
		      <li>Number: 11047</li>
              <li>Customer ID: 123</li>
			  <li>Invoice Number: #5487</li>
			  <li>Invoice Date: 05/09/1990</li>
			  <li>Job Number: WEB-2345</li>
		   </ul>
           
           <div style="clear:both"></div>
           
           <div class="details">
               <div class="highlighted">
                   <span>Account No.:</span>
                   <strong>000000151/1952</strong>
               </div>
               
               <div>
                   <span>Date:</span>
                   <strong>01/01/2012</strong>
               </div>
               
               <div>
                   <span>Due Date:</span>
                   <strong>12/31/2012</strong>
               </div>
           </div>
                    
           <table class="table invoice_table">
			   <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Description</th>
                        <th class="price">Taxed</th>
                        <th class="total">Amount</th>
                    </tr>
                </thead>	
					
                <tbody>
                    <tr>
                        <td>4</td>			
                        <td>Hours</td>
                        <td>Service Fee</td>
                        <td class="price">100.00</td>
                        <td class="total">$2350.00</td>
                    </tr>
                    <tr>
                        <td>7</td>			
                        <td>Hours</td>
                        <td>Labor : 5hours at $75/hr</td>
                        <td class="price">75.00</td>
                        <td class="total">$750.00</td>
                    </tr>
                    <tr>
                        <td>2</td>			
                        <td>Product</td>
                        <td>Parts</td>
                        <td class="price">3500.20</td>
                        <td class="total">$3500.20</td>
                    </tr>
                    <tr>
                        <td>13</td>			
                        <td>Product</td>
                        <td>Parts</td>
                        <td class="price">2587.00</td>
                        <td class="total">$2145.15</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="sub_total"></td>
                        <td class="sub_total">Subtotal:</td>
                        <td class="sub_total">$7584.30</td>
                    </tr>
                    <tr class="total_bar">
                        <td colspan="3" class="grand_total"></td>
                        <td class="grand_total">Total:</td>
                        <td class="grand_total">$7584.30</td>
                    </tr>
                </tbody>
            </table>

				
				
				<div id="invoice_total">$7584.30</div>
				
                
                <h5>Invoice Details</h5>
                <p>Infynitix is a global IT services, business solutions and outsourcing company. Infynitix is a leading systems engineering and integration company in India, offering application design, development, testing services and asset-based solutions in niche segments through turnkey projects.</p>


       </div>
    </div><!--INVOICE ENDS-->

  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
</body>
</html>
