<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>


</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" class="current" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > Forms Stuff / Elements</a>
         <ul>
            <li><a href="forms-stuff.html">General Form Stuff</a></li>
            <li><a href="forms-plugins-elements.html"> Forms Plugins / Elements</a></li>
            <li><a href="buttons.html"> Buttons and Icons Styling </a></li>
            <li><a href="forms-validation.html"> Forms With Validation </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Forms Elements</a>
         <ul>
            <li><a href="forms-grid.html"> Forms Field Grid</a></li>
            <li><a href="typography.html"> Typography Styling</a></li>
            <li><a href="css3-family-tree.html">CSS3 Family Tree</a></li>
            <li><a href="keyboard.html" class="active"> Full Keyboard</a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Some Fonts Icons (150+)</a>
         <ul>
            <li><a href="icons.html">Font Icons (150+)</a></li>
            <li><a href="#">First Demo Menu</a></li>
            <li><a href="#">Second Demo Menu</a></li>
            <li><a href="#">Third Demo Menu</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>Virtual jquery keyboard</h1>
     <h6>This keyboard can be used as a virtual keyboard, or some banking site.</h6>  
  </div>
    
  <div class="shortable-content">
  
  
  <div class="box _100">
    <div class="box-header">
      Virtual jquery keyboard
      <i class="icon-remove-sign close" title="Close"></i>
      <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
      </div>
    <div class="box-content padd-10" style="height:380px;">
      
      
      <textarea id="keyboard" style="opacity:0; filter:alpha(opacity=0);" class="_100F"></textarea>
      
      
    </div>
  </div>  <!--CSS3 Family Tree-->
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
  
  
</body>
</html>
