<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
    
    <img src="images/login/login_bg2.jpg" class="login_bg" />
    
	<div class="login_warper">
    
        <table width="95%" cellspacing="5" class="login_form">
          <tr>
           <td colspan="2" align="center">
            <strong>Enter your username and password.</strong>
           </td>
          </tr>
          <tr>
            <td><label for="username"><strong>Username :</strong></label></td>
            <td><input type="text" id="username" class="_100F login_inputfield" placeholder="type your username here.." /></td>
          </tr>
          <tr>
            <td><label for="password"><strong>Password :</strong></label></td>
            <td><input type="Password" id="password" class="_100F login_inputfield" placeholder="type your password here.." /></td>
          </tr>
          <tr>
            <td colspan="2" align="right">
             <input type="checkbox" class="styled" checked="checked" /> <small style="position:relative; bottom:3px;">Rember me !</small>
            </td>
          </tr>
        </table>
    
        <div id="well">
         <h2><strong id="login_slider"></strong> <span>Slide To Login</span></h2>
        </div>
     
    </div>

</body>
</html>
