<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" class="current" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > User Interface Elements</a>
         <ul>
            <li><a href="dynamic-table.html"> Dynamic Data Table </a></li>
            <li><a href="static-table.html" class="active" > Static Data Table</a></li>
            <li><a href="gride.html"> 960 Content Grid </a></li>
            <li><a href="wizard.html"> Step by Step Wizard  </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Interface Elements</a>
         <ul>
            <li><a href="gallery.html"> Image and Video Gallery</a></li>
            <li><a href="accordion.html"> Jquery Accordion </a></li>
            <li><a href="tabs.html"> Jquery Tabs </a></li>
            <li><a href="slider.html"> Jquery Horizontal / Vertical Slider </a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Miscellaneous UI Elements</a>
         <ul>
            <li><a href="ui-miscellaneous.html"> Miscellaneous UI Elements</a></li>
            <li><a href="http://www.infynitix.com/" target="_blank">Visit Infynitix.com</a></li>
            <li><a href="#">Testing Menu no 1</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>Static Data Table</h1>
     <h6>Table with static grid but its also resizable.</h6>  
  </div>
    
  <div class="shortable-content">
  
  

          <div class="box _100">
            <div class="box-header">
              Static Data Table
              <i class="icon-remove-sign close" title="Close"></i>
              <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
              </div>
            <div class="box-content">
              <table  border="1" bordercolor="#dfdfdf" class="static_table">
                        <thead>
                        <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td class="center">4</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 5.0</td>
                        <td>Win 95+</td>
                        <td class="center">5</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 5.5</td>
                        <td>Win 95+</td>
                        <td class="center">5.5</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 6</td>
                        <td>Win 98+</td>
                        <td class="center">6</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet Explorer 7</td>
                        <td>Win XP SP2+</td>
                        <td class="center">7</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>AOL browser (AOL desktop)</td>
                        <td>Win XP</td>
                        <td class="center">6</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 1.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.7</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 1.5</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 2.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 3.0</td>
                        <td>Win 2k+ / OSX.3+</td>
                        <td class="center">1.9</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 3.0</td>
                        <td>Win 2k+ / OSX.3+</td>
                        <td class="center">1.9</td>
                        </tr> 
                        </tbody>
                        </table>
            </div>
          </div>
          
          
          
          
          <div class="box _100">
            <div class="box-header">
              Resizeable Data Table
              <i class="icon-remove-sign close" title="Close"></i>
              <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
              </div>
            <div class="box-content">
              <table  border="1" bordercolor="#dfdfdf" class="static_table resizable">
                        <thead>
                        <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td class="center">4</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 5.0</td>
                        <td>Win 95+</td>
                        <td class="center">5</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 5.5</td>
                        <td>Win 95+</td>
                        <td class="center">5.5</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet
                        Explorer 6</td>
                        <td>Win 98+</td>
                        <td class="center">6</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>Internet Explorer 7</td>
                        <td>Win XP SP2+</td>
                        <td class="center">7</td>
                        </tr>
                        <tr>
                        <td>Trident</td>
                        <td>AOL browser (AOL desktop)</td>
                        <td>Win XP</td>
                        <td class="center">6</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 1.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.7</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 1.5</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 2.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 3.0</td>
                        <td>Win 2k+ / OSX.3+</td>
                        <td class="center">1.9</td>
                        </tr>
                        <tr>
                        <td>Gecko</td>
                        <td>Firefox 3.0</td>
                        <td>Win 2k+ / OSX.3+</td>
                        <td class="center">1.9</td>
                        </tr> 
                        </tbody>
                        </table>
            </div>
          </div>
          
          
          
          

  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
</body>
</html>
