<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>


</head>

<body>
  <nav>
    <ul>
       <li>
         <a href="dashboard.html" title="Dashboard">
           <i class="icon-map-marker"></i>
           Dashboard
         </a>
       </li>
       
       <li>
         <a href="forms-stuff.html" title="Forms Stuff">
         <i class="icon-edit"></i>
           Forms Stuff
         </a>
       </li>
       
      <li>
        <a href="dynamic-table.html" class="current" title="UI Elements">
           <i class="icon-random"></i>
           UI Elements
        </a>
      </li>
       
       <li>
         <a href="charts.html" title="Plugins">
         <i class="icon-cogs"></i>
           Plugins
         </a>
      </li>
       
       <li>
         <a href="popup-alert.html" title="Notifications">
         <i class="icon-warning-sign"></i>
           Notifications
         </a>
       </li>
       
       <li>
         <a href="google-map.html" title="Error Pages" >
         <i class="icon-check"></i>
           Additional
         </a>
       </li>
    </ul>
  </nav><!--NAV ENDS HERE-->
  
  
  <aside>
    
    <div class="user">
      <img src="images/user.jpg" alt="Esthetics Admin"/>
      Akshay Kumar
      <p>UI Designer / Developer</p>
    </div>
   
    
    <ul id="main-nav">
       <li>
         <a href="#" class="nav-top-item current" > User Interface Elements</a>
         <ul>
            <li><a href="dynamic-table.html"> Dynamic Data Table </a></li>
            <li><a href="static-table.html"> Static Data Table</a></li>
            <li><a href="gride.html"> 960 Content Grid </a></li>
            <li><a href="wizard.html" class="active" > Step by Step Wizard  </a></li>
         </ul>
       </li>
       
       <li>
         <a href="#" class="nav-top-item current" > Other Interface Elements</a>
         <ul>
            <li><a href="gallery.html"> Image and Video Gallery</a></li>
            <li><a href="accordion.html"> Jquery Accordion </a></li>
            <li><a href="tabs.html"> Jquery Tabs </a></li>
            <li><a href="slider.html"> Jquery Horizontal / Vertical Slider </a></li>
         </ul>
       </li>
      
       <li>
         <a href="#" class="nav-top-item current" > Miscellaneous UI Elements</a>
         <ul>
            <li><a href="ui-miscellaneous.html"> Miscellaneous UI Elements</a></li>
            <li><a href="http://www.infynitix.com/" target="_blank">Visit Infynitix.com</a></li>
            <li><a href="#">Testing Menu no 1</a></li>
         </ul>
       </li>
    </ul>

    <div class="submenu-footer">
      <ul class="icons">
          <li>
          <a href="#"><i class="icon-off"></i></a>
          </li>
          <li>
          <a href="#" id="messages"><i class="icon-inbox"></i></a>
           <div class="submenu-footer-tooltip messages_list">
            <ul class="mail">
                <li><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
                <li><a href="#"> <strong>9:55</strong>New comment on you theme<small>From: themeforest</small></a></li>
                <li><a href="#"> <strong>Yest.</strong>Successfull backup<small>From: System</small></a></li>
                <li class="read"><a href="#"> <strong>2 days</strong>Bug report<small>From: Jane</small></a></li>
                <li><a href="#"> <strong>08:42</strong>Hi how r u doing today...<small>From: Ajay Kumar</small></a></li>
                <li class="read"><a href="#"> <strong>10:15</strong>Need your Help!<small>From: John</small></a></li>
            </ul>
           <img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  /> 
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
          <li>
          <a href="#" id="search"><i class="icon-search"></i></a>
           <div class="submenu-footer-tooltip search_bar">
            <input type="text" class="float_l _75" placeholder="Type Here To Search..." /><a href="" class="grey"><i class="icon-search"></i></a><img src="images/icons/arrow_down.png" class="arrow_w" alt="arrow"  />
           </div> <!--SEARCH TOOLTIP ENDS-->
          </li>
      </ul>
      <span>18 New Tasks</span>
    </div><!--SUBMENU FOOTER ENDS HERE-->
    
  </aside><!--ASIDE ENDS HERE-->
  
  
  <div class="main">
  
  <div class="non-shortable-content">
     <h1>Step by Step Wizard</h1>
     <h6>Step by Step wizards enables you with the benefit of conquering multiple steps in a single step with less area consumption.</h6>  
  </div>
    
  <div class="shortable-content">
  
     
    
      <div class="box _100">
        <div class="box-header">
        Step by Step Wizard
        <i class="icon-remove-sign close" title="Close"></i>
        <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
        </div>
        
        <div class="box-content wizard">
         
            <div class="steps">
                <ul>
                    <li class="current">
                        <a href="#step_1"> <span>1</span>
                        <div>
                            <strong>Register</strong>
                            <small>
                                It only takes a minute
                            </small>
                        </div> </a>
                    </li>
                    <li>
                        <a href="#step_2"> <span>2</span>
                        <div>
                            <strong>Information</strong>
                            <small>
                                Fill out our form
                            </small>
                        </div></a>
                    </li>
                    <li>
                        <a href="#step_3"> <span>3</span>
                        <div>
                            <strong>Another Step</strong>
                            <small>
                                Were nearly there
                            </small>
                        </div></a>
                    </li>
                    <li>
                        <a href="#step_4"> <span>4</span>
                        <div>
                            <strong>Finish</strong>
                            <small>
                                Confirm and complete
                            </small>
                        </div></a>
                    </li>
                </ul>
            </div><!--STEPS--ENDS-->
            
            
                                
            <div class="wiz_page" id="step_1">
                <div class="wiz_sidebar grid_3">
                    <span>1</span>
                    <div>
                        <strong>Lorem</strong>
                        <small>
                            Ipsum
                        </small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
                    </p>
                </div>
                <div class="wiz_content grid_9">
                    <h3>Database setup</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                    <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                </div>
            </div>
            
            <div class="wiz_page" id="step_2">
                <div class="wiz_sidebar grid_3">
                    <span>2</span>
                    <div>
                        <strong>Lorem</strong>
                        <small>
                            Ipsum
                        </small>
                    </div>
                    <p>
                        Something else
                    </p>
                </div>
                <div class="wiz_content grid_9">
                    <h3>Database setup</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                    <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                </div>
            </div>
            
             <div class="wiz_page" id="step_3">
                <div class="wiz_sidebar grid_3">
                    <span>3</span>
                    <div>
                        <strong>Lorem</strong>
                        <small>
                            Ipsum
                        </small>
                    </div>
                    <p>
                        Something else, but longer (maybe...)
                    </p>
                </div>
                <div class="wiz_content grid_9">
                    <h3>Your setup</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                    <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                </div>
            </div>   
            
            <div class="wiz_page" id="step_4">
                <div class="wiz_sidebar grid_3">
                    <span>4</span>
                    <div>
                        <strong>Lorem</strong>
                        <small>
                            Ipsum
                        </small>
                    </div>
                    <p>
                        Something else, but muuuuch longer (longer, longer, longer, longer)
                    </p>
                </div>
                <div class="wiz_content grid_9">
                    <h3>Finished</h3>
                    <div class="notification success png_bg" style="margin:5px 0px;">
                     <a class="close_notification" href="#"><img alt="close" title="Close this notification" src="images/icons/cross_grey_small.png"></a>
                     <div>
                       <strong>Success Message</strong> : this an example to show success message
                     </div>
                  </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                    <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                </div>
            </div>
            
            <div class="actions_bar">
               <input type="button" class="grey float_l" value="&laquo; Back" />
               <input type="button" class="float_r" value="Forward &raquo;" />
            </div>
         
        </div>
      </div><!--Typography BOX-->
      
      
      
      



  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
</body>
</html>
