/*Devloped By Akshay*/

._10{
width:10.3%;}


._25{
width:22.8%;
}


._33{
width:31.2%;
}


._50{
width:47.9%;
}


._75{
width:64.3%;}

._80 {
    width: 75%;
}
._100{
width:97.9%;
}

._100F{
width:100%;
}